.footer {
  background-image: linear-gradient(to top, rgba(#000, 0.9), rgba(#000, 0.1)),
    url('../images/dark_embroidery.png');
  color: $color-white;
  transition: all 0.5s ease;
}

.footer__widgets {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  margin: 0 auto;
  max-width: 1000px;

  @include below(820px) {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }

  @include below(550px) {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

.footer__widget {
  padding: 4rem;

  h6 {
    font-size: 1.6rem;
  }

  ul {
    list-style: none;

    li {
      font-size: 1.4rem;
      margin: 0.3rem 0;
    }

    a,
    a:link {
      color: inherit;
      position: relative;
      text-decoration: none;

      &:hover:after {
        opacity: 1;
      }

      &:after {
        background-color: $color-white;
        bottom: 0;
        content: '';
        height: 2px;
        left: 0;
        opacity: 0;
        position: absolute;
        transition: all 0.3s ease;
        width: 100%;
      }
    }
  }

  @include below(820px) {
    text-align: center;
  }
}

.footer__brand {
  height: 6rem;
  padding: 0 5rem;
  width: 100%;
  text-align: center;

  img {
    height: 6rem;
    padding: 1rem 0;
  }
}
