.header {
  background-color: $color-primary;
  height: 6rem;
  transition: all 0.5s ease;
  width: 100%;
  z-index: 100;

  @include below(950px) {
    display: none;
  }
}

.header-primary {
  display: flex;
  justify-content: space-between;
  box-shadow: 3px 3px 10px rgba(24, 24, 24, 0.7);
}

.header__brand {
  height: 6rem;
  padding: 1rem 2rem;
  line-height: 6rem;

  &:hover .header__icon {
    animation: pulse 1.5s ease 0s infinite;
  }
}

.header__icon {
  height: 4rem;
}
