// Make sure the social media links are white
.swp_social_panel a {
  color: white!important;
}

// Hide the ReCaptcha Badge
.grecaptcha-badge{
	visibility: collapse !important;
}

/* Remove floting Social Warfare bar */
.nc_wrapper.swp_floating_horizontal_wrapper.bottom {
  display: none!important;
}