.swp_social_panel a {
<<<<<<< HEAD
  color: white!important;
}

// Hide the ReCaptcha Badge
.grecaptcha-badge{
	visibility: collapse !important;
}

/* Remove floting Social Warfare bar */
.nc_wrapper.swp_floating_horizontal_wrapper.bottom {
  display: none!important;
=======
  color: white;
>>>>>>> dc4fa75a6870fd75491d84a71985097f0e9737be
}