.optimus {
  font-family: $font-optimus!important;
}

.akadora {
  font-family: $font-akadora!important;
}

.content {
  a, a:link {
    color: darken(#E0F0EE, 50%);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}