.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

@keyframes menu {
  0% {
    opacity: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 50px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blurIn {
  0% {
    filter: blur(10px);
  }

  100% {
    filter: blur(0);
  }
}

