// COLORS

/* Main Site Colors */
$color-primary: #65989e;
$color-secondary: #884297;

/* Greys */
$color-grey-light: #d5d5d5;
$color-grey-dark: #646464;

/* Validation */
$color-success: #4c9a44;
$color-warning: #9eb100;
$color-error: #d02c2c;

/* Black and White */
$color-white: #f7f4f0;
$color-black: #181818;

// FONT
$default-font-family: 'Roboto', sans-serif;
$default-font-weight: 300;
$default-font-size: 1.7rem;
$default-font-line-height: 2.4rem;
$default-font-color: #000;
$font-crimson: 'Crimson Text', serif;

// SPACING
$default-content-margin: 3rem;
$default-content-margin-small: 1.5rem;
$default-content-margin-large: 5rem;
