.banner-book {
  width: 100vw;
  height: 95vh;
  background: url(../images/book-header.jpg) no-repeat;
  background-size: cover;
  background-position: bottom center;
  display: flex;
  flex-direction: column;

  @include below(1100px){
    height: auto;
  }

  &::after {
    width: 100vw;
    height: 80px;
    content: '';
    display: block;
    background-size: cover!important;
    background: url(../images/tealbar.png) no-repeat;
    background-position: center;
    position: absolute;
    bottom: -4rem;
    z-index: 100;
    opacity: 0.7;

    @include below(1100px){
      position: relative;
      bottom: -7rem;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  .banner-content-top {
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: center;
    padding-top: 8.5rem;

    @include below(1100px){
      flex-direction: column;
    }
  }

  .banner-content-text {
    display: flex;
    width: 100vw;
    padding: 1rem 0 5rem 0;
    align-items: center;
    text-align: center;
    flex-direction: column;

    p {
      max-width: 600px;
    }
  }

  .book {
    max-width: 275px;
  }

  .belonging {
    max-width: 600px;
  }

  .book-text {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
}
