*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5% ( 16 is the typical default font-size )

  @include below(1100px) {
    font-size: 56.25%;
  }

  @include below(975px) {
    font-size: 50%;
  }
  /*
  @include respond($phone) {
    font-size: 50%;
  }

  @include respond($tablet) {
    font-size: 50%;
  }
  */
}

body {
  background-color: $color-white;
  background-image: url('../images/concrete_seamless.png');
  box-sizing: border-box;
  color: $default-font-color;
  font-family: $default-font-family;
  font-weight: $default-font-weight;
  font-size: $default-font-size;
  line-height: $default-font-line-height;
  overflow-x: hidden;

  &.open {
    overflow-y: hidden;
  }
}

.sociable ul li::before {
  opacity: 0;
  visibility: hidden;
}

.sociable img {
  width: auto !important;
  height: auto !important;
}
