#blog-menu {

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    opacity: 1;
    text-decoration: none;
    text-transform: uppercase;
    @include optimus;
    font-size: $font-size-large;
    font-style: normal;
    transition: all .3s ease;
    position: relative;

    &:hover {

      &::before {
        transform: translateY(-3.5rem);
        opacity: 1;
      }

      &::after {
        animation: bounce .3s ease;
      }

      @keyframes bounce {
        0% {
          transform: translate(1rem, -0.2rem) scale(1);
        }
        85% {
          transform: translate(1rem, 0rem) scale(0.9);
        }
        95% {
          transform: translate(1rem, -0.2rem) scale(1.1);
        }
        100% {
          transform: translate(1rem, -0.2rem) scale(1);
        }
      }

    }

    &::before {
      content: '';
      position: absolute;
      width: 7rem;
      height: 2.5rem;
      background: url('../images/leaf.png') no-repeat;
      background-size: cover;
      transform: translateY(-1rem);
      opacity: 0;
      transition: all .3s ease;
    }

    &::after {
      font-family: 'FontAwesome';
      position: relative;
      display: inline-block;
      transform: translate(1rem, -0.2rem);
      font-size: 3rem;
      content: "\f107";


      @include below(990px){
        display: none;
      }

    }
  }
}

#blog-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  @include below(990px){
    padding-bottom: $l-size;
  }

  @include below(800px){
    flex-direction: column;
  }
}

#blog-menu ul li {
  position: relative;
  width: 100%;
  text-align: center;
}

#blog-menu li:hover .sub-menu {
  box-shadow: 0 9px 9px 0px rgba(0,0,0,.1);

  @include below(990px){
    box-shadow: none;
  }
}

#blog-menu li:hover .sub-menu li {
  height: 50px;
  opacity: 1;
}

#blog-menu li .sub-menu li {
  overflow: hidden;
  display: block;
  perspective: 1000px;
  top: 0;
  height: 0;
  opacity: 0;
  transition: height .5s ease, opacity .3s ease;

  @include below(990px){
    height: auto;
    opacity: 1;
  }

  a {
    font-family: "Open sans"!important;
    font-size: $font-size-small;

    &:hover {
      background-color: darken($color-white, 5%);
    }

    &::after,
    &::before {
      display: none;
    }
  }
}

#blog-menu li .sub-menu li {
  background-color: $color-white;
}

#blog-menu .sub-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index:4000;

  @include below(990px){
    position: relative;
  }
}
