.content .woocommerce {
  padding: 50px;
}

.woocommerce .input-text {
  height: 49px;
  border: none!important;
  border-radius: 3px;
  color: #fff!important;
  background-color: rgba(0,0,0,.2)!important;
  box-shadow: none!important;
  font-size: 20px!important;
  font-weight: 500!important;
}

.woocommerce button[type=submit] {
  font-family: "Open Sans", Open sans;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: #006666!important;
  background-color: rgba(0,102,102,0)!important;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #006666;
  padding: 12px 24px;
  border-radius: 3px;
  position: relative;
  display: inline;
  transition: all .3s ease;

  &::after {
    font-family: 'Elegant Icons';
    display: inline;
    position: absolute;
    margin-top: -.1em;
    font-size: $font-size-xlarge;
    text-shadow: none;
    content: "\39";
    transition: all .3s ease;
    opacity: 0;
  }

  &:hover {
    padding-right: 4rem;

    &::after {
      opacity: 1;
    }
  }
}

.woocommerce p.price {
  font-size: 26px!important;
  color: #006666!important;
}